@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Paprika&display=swap');

body {
    font-family: "Alegreya", "Helvetica", "Arial", sans-serif;
    max-width: 960px;
    background-color: #eee;
    color: #222;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

td {
    border: 2px solid #555;
}

h1 {
    color: #BC002D;
}

li {
    color: #BC002D;
}

img {
    border: 2px solid #222;
}

a,
a:link {
    color: #071078;
}

a:visited {
    color: #555;
}

a:hover {
    color: #BC002D;
}

a:active {
    color: #d4d10c;
}